<div style="margin-top: 30px">
  <p style="text-align: center; color: rgb(0, 0, 0)">Transaction History</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">AccountId</th>
        <th scope="col">Account Holder name</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Current Balance</th>
      </tr>
    </thead>
    <tbody *ngFor="let h of history">
      <tr>
        <td>{{ h.userId }}</td>
        <td>{{ h.name }}</td>
        <td>{{ h.createdAt| date : "mediumDate" }}</td>
        <td>{{ h.amount }}</td>
        <td>{{ h.transactionalType.type }}</td>
        <td>{{ h.currentBalance }}</td>
      </tr>
    </tbody>
  </table>
</div>
